.AppContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 1px solid;
  border-color: crimson;
}

.Title {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  font-size: 45px;
  border: 1px solid;
  border-color: teal;
}
