.AppContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.Title {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
  font-size: 60px;
}

.TitleButton {
  background-color: #ffffff;
  border: none;
  color: rgb(22, 9, 83);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 2px;
  cursor: pointer;
  font-size: 16px;
}

.TitleButtonContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.BackButton {
  display: inline-block;
  background-color: #ffffff;
  border: none;
  color: rgb(22, 9, 83);
  text-align: center;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}
